<h1><%= @list.name %></h1>
<header class="header">
  <%#= form_for(Item.new, :url => list_items_path(@list )) do |f| %>
  <%= form_for([@list, Item.new]) do |f| %>
    <%= f.text_field :description, class: "new-todo", placeholder: "Add a task!", autofocus: true %>
  <% end %>  
</header>
<section class="main">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">

    <% @list.items.each do |item| %>
      <%= render 'items/item', item: item %>
      <!-- or -->
      <%#= render partial: 'items/item', locals: { item: item} %>
    <% end %>
    <!-- is exactly the same as -->
      <!-- <%= render @list.items %> -->
  </ul>
</section>
<footer id="footer">
  <%= link_to "Home", lists_path %>
</footer>
 
