<!DOCTYPE html>
<html>
  <head>
    <title>Todo Rails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class="todoapp">
      <%= yield %>
    </section>

    <footer class="info">
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    
    <%= link_to("Index List", lists_path) %><br>
    <%= link_to("Create New List", new_list_path) %>
  </body>
</html>